.sectionstyle{
  margin: 0;
  padding: 0;
&-title1{
  color: #247CC0;
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  margin-top: 77px;

}
  &-title2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 150px;

  }
  &-p{
    font-family: 'Hind Siliguri';
    font-weight: 400;
    font-size: 20px;
    color: #030D15;
    width: 545px;
    opacity: 0.6;

  }
  &-btnGroup{
    display: flex;
    align-items: center;
    margin-top: 35px;
    gap: 30px;
  }
  &-btn{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 34px;
    background: #247CC0;
    border: none;
    cursor: pointer;
  }
  &-price{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #030D15;
  }
  &-p2{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #030D15;
    opacity: 0.5;
  }
  &-imgCharacter{
    padding:76px 118px;
    box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08),
    0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083),
    0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886),
    0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04),
    0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114),
    0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
  }
}