.infoLogo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  &-nav {
    display: flex;
    gap: 40px;
    list-style-type:none;
    a{
      color: black;
    }
  li{
    cursor: pointer;
  }


  }
  &-search{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 30px;
  }
}